* {
    font-family: monospace;
}

body {
    background-color: antiquewhite;
}

main {
    margin: 10px;
}

/* --------NAVIGATION BAR-------- */
nav {
    margin-bottom: 30px;
    background-color: rgba(95, 158, 160, 0.503);
    border: 3.5px double black;
    height: 45px;
}

nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0px;
}

nav > ul > li > a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    padding: 15px;
}

nav > ul > li > a:hover {
    color: white;
    text-decoration: overline;
    font-style: italic;
}

/* HOME */

.home {
    height: 100vw;
}

h1 {
    color: black;
    text-align: center;
    font-family: "chakra petch", sans-serif;
    font-size: 450%;
}

h2 {
    text-align: center;
    font-family: "chakra petch", sans-serif;
}

/* ABOUT */

.about--para {
    text-align: center;
    margin: 85px;
    margin-top: 0px;
}

.about {
    height: 100vw;
}

/* TECH SKILLS */
.tech-skills {
    height: 100vw;
}

/* PROJECTS */
.projects {
    height: 100vw;
}

/* CONTACT */
.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50vw;
}

.icons > a:hover {
    cursor: alias;
    padding: 10px;
    border: 1px solid rgb(252, 252, 252);
    border-radius: 40%;
    background-color: white;
}

.icons > a {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
}
